@import "tailwindcss";

/* Global defaults using CSS variables */
:root {
  --color-text: #d5d8de;       /* general text color */
  
}

/* Apply default color globally */
@layer base {
  body {
    color: var(--color-text);    
  }
}

#resume {
  height: 50vh;
  background-image: url(".//assets/background1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
}

