@import "tailwindcss";

/* Global defaults using CSS variables */
:root {
  --color-text: #d5d8de;       /* general text color */
  --color-text-light: #798596; /* lighter variant */
}

/* Apply default color globally */
@layer base {
  body {
    color: var(--color-text);    
  }
}